{% set ns = namespace(test="var") %}
{% set testvar = "Hello" %}
$ORIGIN {{ name }}
$TTL {{ soa.ttl }}
@	SOA	{{ soa.primaryNameserver }}	{{ soa.email }} (
		{{ soa.serial }}
		{{ soa.refresh }}
		{{ soa.retry }}
		{{ soa.expire }}
		{{ soa.ttl }} )
;
;

{% for record in domainGtdRegions[0].aRecordsOwn -%}
{% if "roundRobin" in record.recordOption -%}
{% for entry in record.roundRobin -%}
{% if not entry.disableFlag -%}
{{ "%-12s" | format(record.name,) }} {{ entry.ttl }}  IN  A     {{ entry.value }} 
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}

{% for record in domainGtdRegions[0].aaaaRecordsOwn -%}
{% if "roundRobin" in record.recordOption -%}
{% for entry in record.roundRobin -%}
{% if not entry.disableFlag -%}
{{ "%-12s" | format(record.name,) }} {{ entry.ttl }} IN  AAAA  {{ entry.value }} 
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}

{% for record in domainGtdRegions[0].mxRecordsOwn -%}
{% if "roundRobin" in record.recordOption -%}
{% for entry in record.roundRobin -%}
{% if not entry.disableFlag -%}
{{ "%-12s" | format(record.name,) }} {{ entry.ttl }} IN  MX {{entry.level}} {{ entry.value }} 
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}

{% for record in domainGtdRegions[0].spfRecordsOwn -%}
{% if "roundRobin" in record.recordOption -%}
{% for entry in record.roundRobin -%}
{% if not entry.disableFlag -%}
{{ "%-12s" | format(record.name,) }} {{ entry.ttl }} IN  TXT   {{ entry.value }} 
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}

{% for record in domainGtdRegions[0].txtRecordsOwn -%}
{% if "roundRobin" in record.recordOption -%}
{% for entry in record.roundRobin -%}
{% if not entry.disableFlag -%}
{{ "%-12s" | format(record.name,) }} {{ entry.ttl }} IN  TXT   {{ entry.value }} 
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}


{% for record in domainGtdRegions[0].srvRecordsOwn -%}
{% if "roundRobin" in record.recordOption -%}
{% for entry in record.roundRobin -%}
{% if not entry.disableFlag -%}
{{ "%-12s" | format(record.name,) }} {{ entry.ttl }} IN  SRV {{ entry.priority }} {{ entry.weight }} {{ entry.port }} {{ entry.value }} 
{% endif -%}
{% endfor -%}
{% endif -%}
{% endfor -%}

{% for record in domainGtdRegions[0].cnameRecordsOwn -%}
{{ "%-12s" | format(record.name,) }} {{ record.ttl }} IN  CNAME {{ record.host }} 
{% endfor -%}